/* src/styles.css або ваш файл стилів */
.title {
    background-color: white; /* Білий фон тільки для заголовка */
    position: fixed; /* Фіксоване позиціювання */
    top: 29%; /* Відстань від верхньої частини */
    left: 20.1%; /* Відстань від лівої частини */
    padding: 10px; /* Відступи для заголовка */
    font-size: 24px; /* Розмір шрифту */
    color: #333; /* Колір тексту */
    z-index: 1000; /* Забезпечує, що заголовок на передньому плані */
    border-radius: 8px; /* Закруглені кути для заголовка */
}

